<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OUTPUT FORM</title>
    <style type="text/css">
        body{
            text-align: center;
        }
        textarea{
            width: 40%;
            height: 500px;
        }
    </style>
</head>
<body>
    <h1>Results</h1>
    <br>
    <textarea disabled>{{left_output}}</textarea>
    <textarea disabled>{{right_output}}</textarea>
    <br>
    <h4>Similarity Percentage: {{similarity_output}}</h4> 
</body>    
</html>